@import url("Controls.css");

@namespace BeQuiet url("http://sppad.com/ns/BeQuiet");

tab[BeQuiet|mediaPlaying] {
	font-style: italic;	
}

tab[BeQuiet|mediaPlaying] .tab-icon-image {
	list-style-image: url("chrome://BeQuiet/skin/images/note.svg"); 
}

tab[BeQuiet|mediaPlaying][BeQuiet|usePlayingAnimation] .tab-icon-image {
	position: relative;
	animation: bounce 1000ms linear 0s 3 alternate;
	margin-top: 0px !important;
}

@keyframes bounce { 
	0% {
        top: 0%;
       	margin-top: -5px !important;
    }
    
    35% {
        top: 20%;
		transform: scaleY(1.0);
    }
    
    55% {
        top: 30%;
		transform: scaleY(0.7);
    }
    
    65% {
        top: 20%;
   		transform: scaleY(1.0);
    }
    
    100% {
        top: 0%;
        margin-top: -5px !important;
    }
}