.com_sppad_beQuiet_mediaControl image {
	width: 16px;
	height: 16px;
}

#com_sppad_beQuiet_media_previous image {
	transform: scaleX(-1);
}

#com_sppad_beQuiet_media_playPause {
	list-style-image: url("chrome://BeQuiet/skin/images/play.svg");
}

#com_sppad_beQuiet_media_playPause[playing="true"] {
	list-style-image: url("chrome://BeQuiet/skin/images/pause.svg");
}

#com_sppad_beQuiet_media_next image,
#com_sppad_beQuiet_media_previous image {
	list-style-image: url("chrome://BeQuiet/skin/images/next.svg");
}

#com_sppad_beQuiet_media_like image {
	list-style-image: url("chrome://BeQuiet/skin/images/thumb.svg");
}

#com_sppad_beQuiet_media_like[playing="true"][liked="true"] image {
	filter: url("chrome://BeQuiet/skin/filters.svg#toOrange");
}

#com_sppad_beQuiet_media_title {
	width: 256px;	
}

#com_sppad_beQuiet_media_title image {
	display: none;
}

#com_sppad_beQuiet_media_title[playing="false"] label {
	display: none;
}

#com_sppad_beQuiet_media_title[playing="true"] label {
	display: -moz-box !important;	
}

#com_sppad_beQuiet_media_title_tooltip .notPlaying {
	font-style: italic;
}

#com_sppad_beQuiet_media_title_tooltip[playing="true"] .notPlaying {
	display: none;
}

#com_sppad_beQuiet_media_title_tooltip label[type="title"] {
	font-weight: bold;
}

#com_sppad_beQuiet_playPauseContext menuitem[playing="true"] {
	font-weight: bold;
}

#com_sppad_beQuiet_playPauseContext menuitem[disabled] {
	font-style: italic;
}

#com_sppad_beQuiet_playPauseContext[noMediaSites="false"] #com_sppad_beQuiet_noMediaSites {
	display: none;
}

#com_sppad_beQuiet_toggleEnabledButton[enabled="true"] {
	font-weight: bold;
}