.com_sppad_beQuiet_mediaControl image {
	width: 16px;
	height: 16px;
	/* Make sure no padding is set, since it will reduce the icon size */
	padding: 0 !important;
}

#com_sppad_beQuiet_media_previous image {
	transform: scaleX(-1);
}

#com_sppad_beQuiet_media_playPause {
	list-style-image: url("images/icons.svg#play");
}

#com_sppad_beQuiet_media_playPause[playing="true"] {
	list-style-image: url("images/icons.svg#pause");
}

#com_sppad_beQuiet_media_next,
#com_sppad_beQuiet_media_previous {
	list-style-image: url("images/icons.svg#next");
}

#com_sppad_beQuiet_media_like {
	list-style-image: url("images/icons.svg#thumbsUp");
}

#com_sppad_beQuiet_media_like[playing="true"][liked="true"] {
	list-style-image: url("images/icons.svg#thumbsUp-selected");
}

#com_sppad_beQuiet_media_title_tooltip {
	min-width: 256px;
}

#com_sppad_beQuiet_media_title {
	width: 256px;
}

#com_sppad_beQuiet_media_title image {
	display: none;
}

#com_sppad_beQuiet_media_title[playing="false"] label {
	display: none;
}

#com_sppad_beQuiet_media_title[playing="true"] label {
	display: -moz-box !important;	
}

#com_sppad_beQuiet_media_title_tooltip label,
#com_sppad_beQuiet_media_title label {
	-moz-margin-start: 6px !important;
}

#com_sppad_beQuiet_media_title_tooltip .notPlaying {
	font-style: italic;
}

#com_sppad_beQuiet_media_title_tooltip[playing="true"] .notPlaying {
	display: none;
}

#com_sppad_beQuiet_media_title_tooltip label[type="title"] {
	font-weight: bold;
}

#com_sppad_beQuiet_playPauseContext {
	max-width: 20em !important;
}

#com_sppad_beQuiet_playPauseContext menuitem[playing="true"] {
	font-weight: bold;
}

#com_sppad_beQuiet_playPauseContext menuitem[disabled] {
	font-style: italic;
}

#com_sppad_beQuiet_playPauseContext[noMediaSites="false"] #com_sppad_beQuiet_noMediaSites {
	display: none;
}