#com_sppad_beQuiet_media_next image,
#com_sppad_beQuiet_media_previous image,
#com_sppad_beQuiet_media_playPause image {
	width: 16px;
	height: 16px;
}

#com_sppad_beQuiet_media_previous image {
	transform: scaleX(-1);
}

#com_sppad_beQuiet_media_playPause {
	list-style-image: url("chrome://BeQuiet/skin/images/play.svg");
}

#com_sppad_beQuiet_media_playPause[playing] {
	list-style-image: url("chrome://BeQuiet/skin/images/pause.svg");
}

#com_sppad_beQuiet_media_next,
#com_sppad_beQuiet_media_previous {
	list-style-image: url("chrome://BeQuiet/skin/images/next.svg");
}

#com_sppad_beQuiet_playPauseContext menuitem[playing="true"] {
	font-weight: bold;
}

#com_sppad_beQuiet_playPauseContext menuitem[disabled] {
	font-style: italic;
}