#com_sppad_beQuiet_mediaControl image {
	width: 16px;
	height: 16px;
}

#com_sppad_beQuiet_mediaControl[playing] {
	list-style-image: url("chrome://BeQuiet/skin/images/media-playback-pause.svg");
}

#com_sppad_beQuiet_mediaControl:not([playing]) {
	list-style-image: url("chrome://BeQuiet/skin/images/media-playback-start.svg");
}